In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=9ca28e38bdfa7f843e5835c61c3488c706b951116da296edd807659782b7bb75
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext,SQLContext

In [ ]:
spark=SparkSession.builder.appName("Dataframe Demo").getOrCreate()
sc=SparkContext.getOrCreate()
sqlContext=SQLContext(sc)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [ ]:
data=sqlContext.read.options(mode="DROPMALFORMED").json("/content/iris.json")
print(type(data))
print(data.show())
print(data.printSchema())

<class 'pyspark.sql.dataframe.DataFrame'>
+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.4|       0.2|        4.9|       3.0| setosa|
|        1.3|       0.2|        4.7|       3.2| setosa|
|        1.5|       0.2|        4.6|       3.1| setosa|
|        1.4|       0.2|        5.0|       3.6| setosa|
|        1.7|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        4.6|       3.4| setosa|
|        1.5|       0.2|        5.0|       3.4| setosa|
|        1.4|       0.2|        4.4|       2.9| setosa|
|        1.5|       0.1|        4.9|       3.1| setosa|
|        1.5|       0.2|        5.4|       3.7| setosa|
|        1.6|       0.2|        4.8|       3.4| setosa|
|        1.4|       0.1|        4.8|       3.0| setosa|
|        1.1|       0.1|        4.3|       3.0| setosa|
|        1.2|       0.2|        5.8|       4.0| setosa|
|        1.5|       0.4|        5.7|       4.4| setosa|
|        1.3|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        5.1|       3.5| setosa|
|        1.7|       0.3|        5.7|       3.8| setosa|
|        1.5|       0.3|        5.1|       3.8| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 20 rows

None
root
 |-- petalLength: double (nullable = true)
 |-- petalWidth: double (nullable = true)
 |-- sepalLength: double (nullable = true)
 |-- sepalWidth: double (nullable = true)
 |-- species: string (nullable = true)

None

In [ ]:
df=sqlContext.read.options(header="true").csv("/content/movies.csv")
df.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
rdd=sc.parallelize([("Tom",25),("Bob",30),("Alice",13)])
print(rdd.collect())
#convert the rdd into DF
df1=rdd.toDF(["Name","Age"])
df1.show()
print(type(df1))

[('Tom', 25), ('Bob', 30), ('Alice', 13)]
+-----+---+
| Name|Age|
+-----+---+
|  Tom| 25|
|  Bob| 30|
|Alice| 13|
+-----+---+

<class 'pyspark.sql.dataframe.DataFrame'>

In [ ]:
#dataframe which contains iris dataset
#select("colname")
df=data.select("sepalLength","sepalWidth")
df.show()

+-----------+----------+
|sepalLength|sepalWidth|
+-----------+----------+
|        5.1|       3.5|
|        4.9|       3.0|
|        4.7|       3.2|
|        4.6|       3.1|
|        5.0|       3.6|
|        5.4|       3.9|
|        4.6|       3.4|
|        5.0|       3.4|
|        4.4|       2.9|
|        4.9|       3.1|
|        5.4|       3.7|
|        4.8|       3.4|
|        4.8|       3.0|
|        4.3|       3.0|
|        5.8|       4.0|
|        5.7|       4.4|
|        5.4|       3.9|
|        5.1|       3.5|
|        5.7|       3.8|
|        5.1|       3.8|
+-----------+----------+
only showing top 20 rows

In [ ]:
#select with expression
#selectExpr("colname", "condition as new_colname")
df=data.selectExpr("sepalLength","sepalLength > 5 as sepal_Length_cond")
df.show()

+-----------+-----------------+
|sepalLength|sepal_Length_cond|
+-----------+-----------------+
|        5.1|             true|
|        4.9|            false|
|        4.7|            false|
|        4.6|            false|
|        5.0|            false|
|        5.4|             true|
|        4.6|            false|
|        5.0|            false|
|        4.4|            false|
|        4.9|            false|
|        5.4|             true|
|        4.8|            false|
|        4.8|            false|
|        4.3|            false|
|        5.8|             true|
|        5.7|             true|
|        5.4|             true|
|        5.1|             true|
|        5.7|             true|
|        5.1|             true|
+-----------+-----------------+
only showing top 20 rows

In [ ]:
#create a new col. or update an existing col
#withColumn("newcolumnnae",lit("defaultvalue"))
from pyspark.sql.functions import lit
df=data.withColumn("Survey_Date",lit("2024-03-28"))
df.show()

+-----------+----------+-----------+----------+-------+-----------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|Survey_Date|
+-----------+----------+-----------+----------+-------+-----------+
|        1.4|       0.2|        5.1|       3.5| setosa| 2024-03-28|
|        1.4|       0.2|        4.9|       3.0| setosa| 2024-03-28|
|        1.3|       0.2|        4.7|       3.2| setosa| 2024-03-28|
|        1.5|       0.2|        4.6|       3.1| setosa| 2024-03-28|
|        1.4|       0.2|        5.0|       3.6| setosa| 2024-03-28|
|        1.7|       0.4|        5.4|       3.9| setosa| 2024-03-28|
|        1.4|       0.3|        4.6|       3.4| setosa| 2024-03-28|
|        1.5|       0.2|        5.0|       3.4| setosa| 2024-03-28|
|        1.4|       0.2|        4.4|       2.9| setosa| 2024-03-28|
|        1.5|       0.1|        4.9|       3.1| setosa| 2024-03-28|
|        1.5|       0.2|        5.4|       3.7| setosa| 2024-03-28|
|        1.6|       0.2|        4.8|       3.4| setosa| 2024-03-28|
|        1.4|       0.1|        4.8|       3.0| setosa| 2024-03-28|
|        1.1|       0.1|        4.3|       3.0| setosa| 2024-03-28|
|        1.2|       0.2|        5.8|       4.0| setosa| 2024-03-28|
|        1.5|       0.4|        5.7|       4.4| setosa| 2024-03-28|
|        1.3|       0.4|        5.4|       3.9| setosa| 2024-03-28|
|        1.4|       0.3|        5.1|       3.5| setosa| 2024-03-28|
|        1.7|       0.3|        5.7|       3.8| setosa| 2024-03-28|
|        1.5|       0.3|        5.1|       3.8| setosa| 2024-03-28|
+-----------+----------+-----------+----------+-------+-----------+
only showing top 20 rows

In [ ]:
#filter
#it used to diplay the records for which the col satisfy a specific condition
#display only rows which has sepalLength>5
df=data.filter("sepalLength > 5")
df.show()

+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.7|       0.4|        5.4|       3.9| setosa|
|        1.5|       0.2|        5.4|       3.7| setosa|
|        1.2|       0.2|        5.8|       4.0| setosa|
|        1.5|       0.4|        5.7|       4.4| setosa|
|        1.3|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        5.1|       3.5| setosa|
|        1.7|       0.3|        5.7|       3.8| setosa|
|        1.5|       0.3|        5.1|       3.8| setosa|
|        1.7|       0.2|        5.4|       3.4| setosa|
|        1.5|       0.4|        5.1|       3.7| setosa|
|        1.7|       0.5|        5.1|       3.3| setosa|
|        1.5|       0.2|        5.2|       3.5| setosa|
|        1.4|       0.2|        5.2|       3.4| setosa|
|        1.5|       0.4|        5.4|       3.4| setosa|
|        1.5|       0.1|        5.2|       4.1| setosa|
|        1.4|       0.2|        5.5|       4.2| setosa|
|        1.3|       0.2|        5.5|       3.5| setosa|
|        1.5|       0.2|        5.1|       3.4| setosa|
|        1.9|       0.4|        5.1|       3.8| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 20 rows

In [ ]:
#groupby with aggregate
#max,avg
df=data.groupBy("species").count()
df.show()
df=data.groupBy("species").min("sepalLength")
df.show()

+----------+-----+
|   species|count|
+----------+-----+
| virginica|   50|
|versicolor|   50|
|    setosa|   50|
+----------+-----+

+----------+----------------+
|   species|min(sepalLength)|
+----------+----------------+
| virginica|             4.9|
|versicolor|             4.9|
|    setosa|             4.3|
+----------+----------------+

In [ ]:
#count
data.count()

150

In [ ]:
#drop
#drop the column Survey_Date in df
df=data.drop("sepalLength")
df.show()

+-----------+----------+----------+-------+
|petalLength|petalWidth|sepalWidth|species|
+-----------+----------+----------+-------+
|        1.4|       0.2|       3.5| setosa|
|        1.4|       0.2|       3.0| setosa|
|        1.3|       0.2|       3.2| setosa|
|        1.5|       0.2|       3.1| setosa|
|        1.4|       0.2|       3.6| setosa|
|        1.7|       0.4|       3.9| setosa|
|        1.4|       0.3|       3.4| setosa|
|        1.5|       0.2|       3.4| setosa|
|        1.4|       0.2|       2.9| setosa|
|        1.5|       0.1|       3.1| setosa|
|        1.5|       0.2|       3.7| setosa|
|        1.6|       0.2|       3.4| setosa|
|        1.4|       0.1|       3.0| setosa|
|        1.1|       0.1|       3.0| setosa|
|        1.2|       0.2|       4.0| setosa|
|        1.5|       0.4|       4.4| setosa|
|        1.3|       0.4|       3.9| setosa|
|        1.4|       0.3|       3.5| setosa|
|        1.7|       0.3|       3.8| setosa|
|        1.5|       0.3|       3.8| setosa|
+-----------+----------+----------+-------+
only showing top 20 rows

In [ ]:
movie=sqlContext.read.options(header="true").csv("/content/movies.csv")
movie.show()
rating=sqlContext.read.options(header="true").csv("/content/ratings.csv")
rating.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|      2|   3.5|1112486027|
|     1|     29|   3.5|1112484676|
|     1|     32|   3.5|1112484819|
|     1|     47|   3.5|1112484727|
|     1|     50|   3.5|1112484580|
|     1|    112|   3.5|1094785740|
|     1|    151|   4.0|1094785734|
|     1|    223|   4.0|1112485573|
|     1|    253|   4.0|1112484940|
|     1|    260|   4.0|1112484826|
|     1|    293|   4.0|1112484703|
|     1|    296|   4.0|1112484767|
|     1|    318|   4.0|1112484798|
|     1|    337|   3.5|1094785709|
|     1|    367|   3.5|1112485980|
|     1|    541|   4.0|1112484603|
|     1|    589|   3.5|1112485557|
|     1|    593|   3.5|1112484661|
|     1|    653|   3.0|1094785691|
|     1|    919|   3.5|1094785621|
+------+-------+------+----------+
only showing top 20 rows

In [ ]:
#inner join
df_join=movie.join(rating,movie.movieId==rating.movieId,"inner")
df_join.show()

+-------+--------------------+--------------------+------+-------+------+----------+
|movieId|               title|              genres|userId|movieId|rating| timestamp|
+-------+--------------------+--------------------+------+-------+------+----------+
|      2|      Jumanji (1995)|Adventure|Childre...|     1|      2|   3.5|1112486027|
|     29|City of Lost Chil...|Adventure|Drama|F...|     1|     29|   3.5|1112484676|
|     32|Twelve Monkeys (a...|Mystery|Sci-Fi|Th...|     1|     32|   3.5|1112484819|
|     47|Seven (a.k.a. Se7...|    Mystery|Thriller|     1|     47|   3.5|1112484727|
|     50|Usual Suspects, T...|Crime|Mystery|Thr...|     1|     50|   3.5|1112484580|
|    112|Rumble in the Bro...|Action|Adventure|...|     1|    112|   3.5|1094785740|
|    151|      Rob Roy (1995)|Action|Drama|Roma...|     1|    151|   4.0|1094785734|
|    223|       Clerks (1994)|              Comedy|     1|    223|   4.0|1112485573|
|    253|Interview with th...|        Drama|Horror|     1|    253|   4.0|1112484940|
|    260|Star Wars: Episod...|Action|Adventure|...|     1|    260|   4.0|1112484826|
|    293|Léon: The Profess...|Action|Crime|Dram...|     1|    293|   4.0|1112484703|
|    296| Pulp Fiction (1994)|Comedy|Crime|Dram...|     1|    296|   4.0|1112484767|
|    318|Shawshank Redempt...|         Crime|Drama|     1|    318|   4.0|1112484798|
|    337|What's Eating Gil...|               Drama|     1|    337|   3.5|1094785709|
|    367|    Mask, The (1994)|Action|Comedy|Cri...|     1|    367|   3.5|1112485980|
|    541| Blade Runner (1982)|Action|Sci-Fi|Thr...|     1|    541|   4.0|1112484603|
|    589|Terminator 2: Jud...|       Action|Sci-Fi|     1|    589|   3.5|1112485557|
|    593|Silence of the La...|Crime|Horror|Thri...|     1|    593|   3.5|1112484661|
|    653|  Dragonheart (1996)|Action|Adventure|...|     1|    653|   3.0|1094785691|
|    919|Wizard of Oz, The...|Adventure|Childre...|     1|    919|   3.5|1094785621|
+-------+--------------------+--------------------+------+-------+------+----------+
only showing top 20 rows

In [ ]:
#leftOuterJoin
df_join=movie.join(rating,movie.movieId==rating.movieId,"left")
df_join.show()

+-------+--------------------+--------------------+------+-------+------+----------+
|movieId|               title|              genres|userId|movieId|rating| timestamp|
+-------+--------------------+--------------------+------+-------+------+----------+
|     11|American Presiden...|Comedy|Drama|Romance|     5|     11|   5.0| 851527751|
|     11|American Presiden...|Comedy|Drama|Romance|     7|     11|   4.0|1011207889|
|     11|American Presiden...|Comedy|Drama|Romance|    10|     11|   4.0| 943497660|
|     11|American Presiden...|Comedy|Drama|Romance|    13|     11|   4.0| 849082685|
|     11|American Presiden...|Comedy|Drama|Romance|    15|     11|   3.0| 840207537|
|     11|American Presiden...|Comedy|Drama|Romance|    27|     11|   4.0|1112243785|
|     11|American Presiden...|Comedy|Drama|Romance|    29|     11|   4.0| 835562132|
|     11|American Presiden...|Comedy|Drama|Romance|    38|     11|   4.0| 835718201|
|     11|American Presiden...|Comedy|Drama|Romance|    40|     11|   3.0| 940853434|
|     11|American Presiden...|Comedy|Drama|Romance|    46|     11|   4.0| 846354547|
|     11|American Presiden...|Comedy|Drama|Romance|    54|     11|   5.0| 974840528|
|     11|American Presiden...|Comedy|Drama|Romance|    56|     11|   3.0| 967240622|
|     11|American Presiden...|Comedy|Drama|Romance|    58|     11|   4.5|1144058674|
|     11|American Presiden...|Comedy|Drama|Romance|    69|     11|   3.0| 866812438|
|     11|American Presiden...|Comedy|Drama|Romance|    87|     11|   3.0| 831889948|
|     11|American Presiden...|Comedy|Drama|Romance|    91|     11|   4.0|1121673675|
|     11|American Presiden...|Comedy|Drama|Romance|   101|     11|   4.0| 836325638|
|     11|American Presiden...|Comedy|Drama|Romance|   116|     11|   2.0|1132761815|
|     11|American Presiden...|Comedy|Drama|Romance|   120|     11|   3.0| 838153413|
|     11|American Presiden...|Comedy|Drama|Romance|   130|     11|   3.0| 853581643|
+-------+--------------------+--------------------+------+-------+------+----------+
only showing top 20 rows

In [ ]:
#rightOuterJoin
df_join=movie.join(rating,movie.movieId==rating.movieId,"right")
df_join.show()
#fullouterjoin
df_join=movie.join(rating,movie.movieId==rating.movieId,"full")
df_join.show()
#semi join
df_join=movie.join(rating,movie.movieId==rating.movieId,"semi")
df_join.show()
#anti join
df_join=movie.join(rating,movie.movieId==rating.movieId,"anti")
df_join.show()
#cross join
df_join=movie.crossJoin(rating)
df_join.show()

+-------+--------------------+--------------------+------+-------+------+----------+
|movieId|               title|              genres|userId|movieId|rating| timestamp|
+-------+--------------------+--------------------+------+-------+------+----------+
|      2|      Jumanji (1995)|Adventure|Childre...|     1|      2|   3.5|1112486027|
|     29|City of Lost Chil...|Adventure|Drama|F...|     1|     29|   3.5|1112484676|
|     32|Twelve Monkeys (a...|Mystery|Sci-Fi|Th...|     1|     32|   3.5|1112484819|
|     47|Seven (a.k.a. Se7...|    Mystery|Thriller|     1|     47|   3.5|1112484727|
|     50|Usual Suspects, T...|Crime|Mystery|Thr...|     1|     50|   3.5|1112484580|
|    112|Rumble in the Bro...|Action|Adventure|...|     1|    112|   3.5|1094785740|
|    151|      Rob Roy (1995)|Action|Drama|Roma...|     1|    151|   4.0|1094785734|
|    223|       Clerks (1994)|              Comedy|     1|    223|   4.0|1112485573|
|    253|Interview with th...|        Drama|Horror|     1|    253|   4.0|1112484940|
|    260|Star Wars: Episod...|Action|Adventure|...|     1|    260|   4.0|1112484826|
|    293|Léon: The Profess...|Action|Crime|Dram...|     1|    293|   4.0|1112484703|
|    296| Pulp Fiction (1994)|Comedy|Crime|Dram...|     1|    296|   4.0|1112484767|
|    318|Shawshank Redempt...|         Crime|Drama|     1|    318|   4.0|1112484798|
|    337|What's Eating Gil...|               Drama|     1|    337|   3.5|1094785709|
|    367|    Mask, The (1994)|Action|Comedy|Cri...|     1|    367|   3.5|1112485980|
|    541| Blade Runner (1982)|Action|Sci-Fi|Thr...|     1|    541|   4.0|1112484603|
|    589|Terminator 2: Jud...|       Action|Sci-Fi|     1|    589|   3.5|1112485557|
|    593|Silence of the La...|Crime|Horror|Thri...|     1|    593|   3.5|1112484661|
|    653|  Dragonheart (1996)|Action|Adventure|...|     1|    653|   3.0|1094785691|
|    919|Wizard of Oz, The...|Adventure|Childre...|     1|    919|   3.5|1094785621|
+-------+--------------------+--------------------+------+-------+------+----------+
only showing top 20 rows

+-------+--------------------+-------------+------+-------+------+----------+
|movieId|               title|       genres|userId|movieId|rating| timestamp|
+-------+--------------------+-------------+------+-------+------+----------+
| 100008|    Flaw, The (2011)|  Documentary|  9454| 100008|   4.0|1400687389|
| 100008|    Flaw, The (2011)|  Documentary| 21398| 100008|   4.0|1358823364|
| 100008|    Flaw, The (2011)|  Documentary| 23841| 100008|   3.0|1372807509|
| 100008|    Flaw, The (2011)|  Documentary| 27053| 100008|   3.0|1358922494|
| 100008|    Flaw, The (2011)|  Documentary| 51558| 100008|   3.0|1422833166|
| 100010|Battle of Los Ang...|Action|Sci-Fi|  4347| 100010|   3.0|1401248862|
| 100010|Battle of Los Ang...|Action|Sci-Fi|  5352| 100010|   3.5|1370748924|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 12131| 100010|   1.5|1398369060|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 16693| 100010|   3.5|1362460350|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 20180| 100010|   1.0|1424294683|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 24994| 100010|   4.0|1424470787|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 30507| 100010|   3.0|1426354157|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 41267| 100010|   2.0|1358884501|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 44101| 100010|   2.0|1405989405|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 46470| 100010|   3.0|1405613890|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 49817| 100010|   3.0|1395061487|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 53478| 100010|   4.0|1394292232|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 61728| 100010|   5.0|1384358024|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 67075| 100010|   0.5|1358824137|
| 100010|Battle of Los Ang...|Action|Sci-Fi| 73026| 100010|   2.5|1358891139|
+-------+--------------------+-------------+------+-------+------+----------+
only showing top 20 rows

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|    100|    City Hall (1996)|      Drama|Thriller|
|   1000|      Curdled (1996)|               Crime|
| 100003|  Up in Smoke (1957)|              Comedy|
| 100006|First Daughter (1...|Comedy|Romance|Th...|
| 100008|    Flaw, The (2011)|         Documentary|
| 100010|Battle of Los Ang...|       Action|Sci-Fi|
| 100015|Chicago Massacre:...|Crime|Drama|Thriller|
| 100040|   True Blue (2001) |Crime|Drama|Thriller|
| 100042|Guns of Fort Pett...|         War|Western|
| 100046|   Madagascar (2011)|         Documentary|
| 100054| Stella Maris (1918)|               Drama|
| 100058|Patrice O'Neal: E...|              Comedy|
| 100060|Sunny (Sseo-ni) (...|               Drama|
| 100062|My Way (Mai Wei) ...|    Action|Drama|War|
| 100068|Comme un chef (2012)|              Comedy|
| 100070|Punching the Clow...|              Comedy|
| 100075|       Choose (2010)|  Crime|Drama|Horror|
| 100083|     Movie 43 (2013)|              Comedy|
| 100087|Night of the Demo...|              Horror|
| 100089|Star Wars Uncut: ...|Action|Animation|...|
+-------+--------------------+--------------------+
only showing top 20 rows

+-------+--------------------+-----------------+
|movieId|               title|           genres|
+-------+--------------------+-----------------+
| 100072|Metsän tarina (2012)|      Documentary|
| 100081|Bad Luck (Zezowat...|           Comedy|
| 100183|Portrait of Wally...|      Documentary|
| 100222|God Save My Shoes...|      Documentary|
| 100257|Confessions from ...|           Comedy|
| 100275|       Return (2011)|            Drama|
| 100291|Ballplayer: Pelot...|Documentary|Drama|
| 100296|Den sommeren jeg ...|            Drama|
| 100298|Erotic Man, The (...|            Drama|
| 100300|Wszystko, co koch...|     Comedy|Drama|
| 100312|On the Edge (Hak ...|      Crime|Drama|
| 100332|Land, The (Al-ard...|            Drama|
| 100519|A.K.A. Don Bonus ...|      Documentary|
| 100534|In the Edges: The...|      Documentary|
| 100583|Arnulf Rainer (1960)|      Documentary|
| 100585|Above the Street,...|            Drama|
| 100655|Cost of Oil: Voic...|      Documentary|
| 100719|Fake It So Real (...|      Documentary|
| 100727|      Heroine (2012)|            Drama|
| 100838|   I Am Jesus (2011)|      Documentary|
+-------+--------------------+-----------------+
only showing top 20 rows

+-------+--------------------+--------------------+------+-------+------+----------+
|movieId|               title|              genres|userId|movieId|rating| timestamp|
+-------+--------------------+--------------------+------+-------+------+----------+
|      1|    Toy Story (1995)|Adventure|Animati...|     1|      2|   3.5|1112486027|
|      2|      Jumanji (1995)|Adventure|Childre...|     1|      2|   3.5|1112486027|
|      3|Grumpier Old Men ...|      Comedy|Romance|     1|      2|   3.5|1112486027|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|     1|      2|   3.5|1112486027|
|      5|Father of the Bri...|              Comedy|     1|      2|   3.5|1112486027|
|      6|         Heat (1995)|Action|Crime|Thri...|     1|      2|   3.5|1112486027|
|      7|      Sabrina (1995)|      Comedy|Romance|     1|      2|   3.5|1112486027|
|      8| Tom and Huck (1995)|  Adventure|Children|     1|      2|   3.5|1112486027|
|      9| Sudden Death (1995)|              Action|     1|      2|   3.5|1112486027|
|     10|    GoldenEye (1995)|Action|Adventure|...|     1|      2|   3.5|1112486027|
|     11|American Presiden...|Comedy|Drama|Romance|     1|      2|   3.5|1112486027|
|     12|Dracula: Dead and...|       Comedy|Horror|     1|      2|   3.5|1112486027|
|     13|        Balto (1995)|Adventure|Animati...|     1|      2|   3.5|1112486027|
|     14|        Nixon (1995)|               Drama|     1|      2|   3.5|1112486027|
|     15|Cutthroat Island ...|Action|Adventure|...|     1|      2|   3.5|1112486027|
|     16|       Casino (1995)|         Crime|Drama|     1|      2|   3.5|1112486027|
|     17|Sense and Sensibi...|       Drama|Romance|     1|      2|   3.5|1112486027|
|     18|   Four Rooms (1995)|              Comedy|     1|      2|   3.5|1112486027|
|     19|Ace Ventura: When...|              Comedy|     1|      2|   3.5|1112486027|
|     20|  Money Train (1995)|Action|Comedy|Cri...|     1|      2|   3.5|1112486027|
+-------+--------------------+--------------------+------+-------+------+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col
df_join=movie.alias("m1").join(movie.alias("m2"),col("m1.movieId")==col("m2.movieId"),"inner")
df_join.show()

+-------+--------------------+--------------------+-------+--------------------+--------------------+
|movieId|               title|              genres|movieId|               title|              genres|
+-------+--------------------+--------------------+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+-------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
#distinct
data.show()

+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.4|       0.2|        4.9|       3.0| setosa|
|        1.3|       0.2|        4.7|       3.2| setosa|
|        1.5|       0.2|        4.6|       3.1| setosa|
|        1.4|       0.2|        5.0|       3.6| setosa|
|        1.7|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        4.6|       3.4| setosa|
|        1.5|       0.2|        5.0|       3.4| setosa|
|        1.4|       0.2|        4.4|       2.9| setosa|
|        1.5|       0.1|        4.9|       3.1| setosa|
|        1.5|       0.2|        5.4|       3.7| setosa|
|        1.6|       0.2|        4.8|       3.4| setosa|
|        1.4|       0.1|        4.8|       3.0| setosa|
|        1.1|       0.1|        4.3|       3.0| setosa|
|        1.2|       0.2|        5.8|       4.0| setosa|
|        1.5|       0.4|        5.7|       4.4| setosa|
|        1.3|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        5.1|       3.5| setosa|
|        1.7|       0.3|        5.7|       3.8| setosa|
|        1.5|       0.3|        5.1|       3.8| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 20 rows

In [ ]:
data.select("sepalLength").distinct().count()

35

In [ ]:
#how to convert DataFrame to RDD
df_rdd=data.rdd
print(df_rdd.collect())

[Row(petalLength=1.4, petalWidth=0.2, sepalLength=5.1, sepalWidth=3.5, species='setosa'), Row(petalLength=1.4, petalWidth=0.2, sepalLength=4.9, sepalWidth=3.0, species='setosa'), Row(petalLength=1.3, petalWidth=0.2, sepalLength=4.7, sepalWidth=3.2, species='setosa'), Row(petalLength=1.5, petalWidth=0.2, sepalLength=4.6, sepalWidth=3.1, species='setosa'), Row(petalLength=1.4, petalWidth=0.2, sepalLength=5.0, sepalWidth=3.6, species='setosa'), Row(petalLength=1.7, petalWidth=0.4, sepalLength=5.4, sepalWidth=3.9, species='setosa'), Row(petalLength=1.4, petalWidth=0.3, sepalLength=4.6, sepalWidth=3.4, species='setosa'), Row(petalLength=1.5, petalWidth=0.2, sepalLength=5.0, sepalWidth=3.4, species='setosa'), Row(petalLength=1.4, petalWidth=0.2, sepalLength=4.4, sepalWidth=2.9, species='setosa'), Row(petalLength=1.5, petalWidth=0.1, sepalLength=4.9, sepalWidth=3.1, species='setosa'), Row(petalLength=1.5, petalWidth=0.2, sepalLength=5.4, sepalWidth=3.7, species='setosa'), Row(petalLength=1.6, petalWidth=0.2, sepalLength=4.8, sepalWidth=3.4, species='setosa'), Row(petalLength=1.4, petalWidth=0.1, sepalLength=4.8, sepalWidth=3.0, species='setosa'), Row(petalLength=1.1, petalWidth=0.1, sepalLength=4.3, sepalWidth=3.0, species='setosa'), Row(petalLength=1.2, petalWidth=0.2, sepalLength=5.8, sepalWidth=4.0, species='setosa'), Row(petalLength=1.5, petalWidth=0.4, sepalLength=5.7, sepalWidth=4.4, species='setosa'), Row(petalLength=1.3, petalWidth=0.4, sepalLength=5.4, sepalWidth=3.9, species='setosa'), Row(petalLength=1.4, petalWidth=0.3, sepalLength=5.1, sepalWidth=3.5, species='setosa'), Row(petalLength=1.7, petalWidth=0.3, sepalLength=5.7, sepalWidth=3.8, species='setosa'), Row(petalLength=1.5, petalWidth=0.3, sepalLength=5.1, sepalWidth=3.8, species='setosa'), Row(petalLength=1.7, petalWidth=0.2, sepalLength=5.4, sepalWidth=3.4, species='setosa'), Row(petalLength=1.5, petalWidth=0.4, sepalLength=5.1, sepalWidth=3.7, species='setosa'), Row(petalLength=1.0, petalWidth=0.2, sepalLength=4.6, sepalWidth=3.6, species='setosa'), Row(petalLength=1.7, petalWidth=0.5, sepalLength=5.1, sepalWidth=3.3, species='setosa'), Row(petalLength=1.9, petalWidth=0.2, sepalLength=4.8, sepalWidth=3.4, species='setosa'), Row(petalLength=1.6, petalWidth=0.2, sepalLength=5.0, sepalWidth=3.0, species='setosa'), Row(petalLength=1.6, petalWidth=0.4, sepalLength=5.0, sepalWidth=3.4, species='setosa'), Row(petalLength=1.5, petalWidth=0.2, sepalLength=5.2, sepalWidth=3.5, species='setosa'), Row(petalLength=1.4, petalWidth=0.2, sepalLength=5.2, sepalWidth=3.4, species='setosa'), Row(petalLength=1.6, petalWidth=0.2, sepalLength=4.7, sepalWidth=3.2, species='setosa'), Row(petalLength=1.6, petalWidth=0.2, sepalLength=4.8, sepalWidth=3.1, species='setosa'), Row(petalLength=1.5, petalWidth=0.4, sepalLength=5.4, sepalWidth=3.4, species='setosa'), Row(petalLength=1.5, petalWidth=0.1, sepalLength=5.2, sepalWidth=4.1, species='setosa'), Row(petalLength=1.4, petalWidth=0.2, sepalLength=5.5, sepalWidth=4.2, species='setosa'), Row(petalLength=1.5, petalWidth=0.2, sepalLength=4.9, sepalWidth=3.1, species='setosa'), Row(petalLength=1.2, petalWidth=0.2, sepalLength=5.0, sepalWidth=3.2, species='setosa'), Row(petalLength=1.3, petalWidth=0.2, sepalLength=5.5, sepalWidth=3.5, species='setosa'), Row(petalLength=1.4, petalWidth=0.1, sepalLength=4.9, sepalWidth=3.6, species='setosa'), Row(petalLength=1.3, petalWidth=0.2, sepalLength=4.4, sepalWidth=3.0, species='setosa'), Row(petalLength=1.5, petalWidth=0.2, sepalLength=5.1, sepalWidth=3.4, species='setosa'), Row(petalLength=1.3, petalWidth=0.3, sepalLength=5.0, sepalWidth=3.5, species='setosa'), Row(petalLength=1.3, petalWidth=0.3, sepalLength=4.5, sepalWidth=2.3, species='setosa'), Row(petalLength=1.3, petalWidth=0.2, sepalLength=4.4, sepalWidth=3.2, species='setosa'), Row(petalLength=1.6, petalWidth=0.6, sepalLength=5.0, sepalWidth=3.5, species='setosa'), Row(petalLength=1.9, petalWidth=0.4, sepalLength=5.1, sepalWidth=3.8, species='setosa'), Row(petalLength=1.4, petalWidth=0.3, sepalLength=4.8, sepalWidth=3.0, species='setosa'), Row(petalLength=1.6, petalWidth=0.2, sepalLength=5.1, sepalWidth=3.8, species='setosa'), Row(petalLength=1.4, petalWidth=0.2, sepalLength=4.6, sepalWidth=3.2, species='setosa'), Row(petalLength=1.5, petalWidth=0.2, sepalLength=5.3, sepalWidth=3.7, species='setosa'), Row(petalLength=1.4, petalWidth=0.2, sepalLength=5.0, sepalWidth=3.3, species='setosa'), Row(petalLength=4.7, petalWidth=1.4, sepalLength=7.0, sepalWidth=3.2, species='versicolor'), Row(petalLength=4.5, petalWidth=1.5, sepalLength=6.4, sepalWidth=3.2, species='versicolor'), Row(petalLength=4.9, petalWidth=1.5, sepalLength=6.9, sepalWidth=3.1, species='versicolor'), Row(petalLength=4.0, petalWidth=1.3, sepalLength=5.5, sepalWidth=2.3, species='versicolor'), Row(petalLength=4.6, petalWidth=1.5, sepalLength=6.5, sepalWidth=2.8, species='versicolor'), Row(petalLength=4.5, petalWidth=1.3, sepalLength=5.7, sepalWidth=2.8, species='versicolor'), Row(petalLength=4.7, petalWidth=1.6, sepalLength=6.3, sepalWidth=3.3, species='versicolor'), Row(petalLength=3.3, petalWidth=1.0, sepalLength=4.9, sepalWidth=2.4, species='versicolor'), Row(petalLength=4.6, petalWidth=1.3, sepalLength=6.6, sepalWidth=2.9, species='versicolor'), Row(petalLength=3.9, petalWidth=1.4, sepalLength=5.2, sepalWidth=2.7, species='versicolor'), Row(petalLength=3.5, petalWidth=1.0, sepalLength=5.0, sepalWidth=2.0, species='versicolor'), Row(petalLength=4.2, petalWidth=1.5, sepalLength=5.9, sepalWidth=3.0, species='versicolor'), Row(petalLength=4.0, petalWidth=1.0, sepalLength=6.0, sepalWidth=2.2, species='versicolor'), Row(petalLength=4.7, petalWidth=1.4, sepalLength=6.1, sepalWidth=2.9, species='versicolor'), Row(petalLength=3.6, petalWidth=1.3, sepalLength=5.6, sepalWidth=2.9, species='versicolor'), Row(petalLength=4.4, petalWidth=1.4, sepalLength=6.7, sepalWidth=3.1, species='versicolor'), Row(petalLength=4.5, petalWidth=1.5, sepalLength=5.6, sepalWidth=3.0, species='versicolor'), Row(petalLength=4.1, petalWidth=1.0, sepalLength=5.8, sepalWidth=2.7, species='versicolor'), Row(petalLength=4.5, petalWidth=1.5, sepalLength=6.2, sepalWidth=2.2, species='versicolor'), Row(petalLength=3.9, petalWidth=1.1, sepalLength=5.6, sepalWidth=2.5, species='versicolor'), Row(petalLength=4.8, petalWidth=1.8, sepalLength=5.9, sepalWidth=3.2, species='versicolor'), Row(petalLength=4.0, petalWidth=1.3, sepalLength=6.1, sepalWidth=2.8, species='versicolor'), Row(petalLength=4.9, petalWidth=1.5, sepalLength=6.3, sepalWidth=2.5, species='versicolor'), Row(petalLength=4.7, petalWidth=1.2, sepalLength=6.1, sepalWidth=2.8, species='versicolor'), Row(petalLength=4.3, petalWidth=1.3, sepalLength=6.4, sepalWidth=2.9, species='versicolor'), Row(petalLength=4.4, petalWidth=1.4, sepalLength=6.6, sepalWidth=3.0, species='versicolor'), Row(petalLength=4.8, petalWidth=1.4, sepalLength=6.8, sepalWidth=2.8, species='versicolor'), Row(petalLength=5.0, petalWidth=1.7, sepalLength=6.7, sepalWidth=3.0, species='versicolor'), Row(petalLength=4.5, petalWidth=1.5, sepalLength=6.0, sepalWidth=2.9, species='versicolor'), Row(petalLength=3.5, petalWidth=1.0, sepalLength=5.7, sepalWidth=2.6, species='versicolor'), Row(petalLength=3.8, petalWidth=1.1, sepalLength=5.5, sepalWidth=2.4, species='versicolor'), Row(petalLength=3.7, petalWidth=1.0, sepalLength=5.5, sepalWidth=2.4, species='versicolor'), Row(petalLength=3.9, petalWidth=1.2, sepalLength=5.8, sepalWidth=2.7, species='versicolor'), Row(petalLength=5.1, petalWidth=1.6, sepalLength=6.0, sepalWidth=2.7, species='versicolor'), Row(petalLength=4.5, petalWidth=1.5, sepalLength=5.4, sepalWidth=3.0, species='versicolor'), Row(petalLength=4.5, petalWidth=1.6, sepalLength=6.0, sepalWidth=3.4, species='versicolor'), Row(petalLength=4.7, petalWidth=1.5, sepalLength=6.7, sepalWidth=3.1, species='versicolor'), Row(petalLength=4.4, petalWidth=1.3, sepalLength=6.3, sepalWidth=2.3, species='versicolor'), Row(petalLength=4.1, petalWidth=1.3, sepalLength=5.6, sepalWidth=3.0, species='versicolor'), Row(petalLength=4.0, petalWidth=1.3, sepalLength=5.5, sepalWidth=2.5, species='versicolor'), Row(petalLength=4.4, petalWidth=1.2, sepalLength=5.5, sepalWidth=2.6, species='versicolor'), Row(petalLength=4.6, petalWidth=1.4, sepalLength=6.1, sepalWidth=3.0, species='versicolor'), Row(petalLength=4.0, petalWidth=1.2, sepalLength=5.8, sepalWidth=2.6, species='versicolor'), Row(petalLength=3.3, petalWidth=1.0, sepalLength=5.0, sepalWidth=2.3, species='versicolor'), Row(petalLength=4.2, petalWidth=1.3, sepalLength=5.6, sepalWidth=2.7, species='versicolor'), Row(petalLength=4.2, petalWidth=1.2, sepalLength=5.7, sepalWidth=3.0, species='versicolor'), Row(petalLength=4.2, petalWidth=1.3, sepalLength=5.7, sepalWidth=2.9, species='versicolor'), Row(petalLength=4.3, petalWidth=1.3, sepalLength=6.2, sepalWidth=2.9, species='versicolor'), Row(petalLength=3.0, petalWidth=1.1, sepalLength=5.1, sepalWidth=2.5, species='versicolor'), Row(petalLength=4.1, petalWidth=1.3, sepalLength=5.7, sepalWidth=2.8, species='versicolor'), Row(petalLength=6.0, petalWidth=2.5, sepalLength=6.3, sepalWidth=3.3, species='virginica'), Row(petalLength=5.1, petalWidth=1.9, sepalLength=5.8, sepalWidth=2.7, species='virginica'), Row(petalLength=5.9, petalWidth=2.1, sepalLength=7.1, sepalWidth=3.0, species='virginica'), Row(petalLength=5.6, petalWidth=1.8, sepalLength=6.3, sepalWidth=2.9, species='virginica'), Row(petalLength=5.8, petalWidth=2.2, sepalLength=6.5, sepalWidth=3.0, species='virginica'), Row(petalLength=6.6, petalWidth=2.1, sepalLength=7.6, sepalWidth=3.0, species='virginica'), Row(petalLength=4.5, petalWidth=1.7, sepalLength=4.9, sepalWidth=2.5, species='virginica'), Row(petalLength=6.3, petalWidth=1.8, sepalLength=7.3, sepalWidth=2.9, species='virginica'), Row(petalLength=5.8, petalWidth=1.8, sepalLength=6.7, sepalWidth=2.5, species='virginica'), Row(petalLength=6.1, petalWidth=2.5, sepalLength=7.2, sepalWidth=3.6, species='virginica'), Row(petalLength=5.1, petalWidth=2.0, sepalLength=6.5, sepalWidth=3.2, species='virginica'), Row(petalLength=5.3, petalWidth=1.9, sepalLength=6.4, sepalWidth=2.7, species='virginica'), Row(petalLength=5.5, petalWidth=2.1, sepalLength=6.8, sepalWidth=3.0, species='virginica'), Row(petalLength=5.0, petalWidth=2.0, sepalLength=5.7, sepalWidth=2.5, species='virginica'), Row(petalLength=5.1, petalWidth=2.4, sepalLength=5.8, sepalWidth=2.8, species='virginica'), Row(petalLength=5.3, petalWidth=2.3, sepalLength=6.4, sepalWidth=3.2, species='virginica'), Row(petalLength=5.5, petalWidth=1.8, sepalLength=6.5, sepalWidth=3.0, species='virginica'), Row(petalLength=6.7, petalWidth=2.2, sepalLength=7.7, sepalWidth=3.8, species='virginica'), Row(petalLength=6.9, petalWidth=2.3, sepalLength=7.7, sepalWidth=2.6, species='virginica'), Row(petalLength=5.0, petalWidth=1.5, sepalLength=6.0, sepalWidth=2.2, species='virginica'), Row(petalLength=5.7, petalWidth=2.3, sepalLength=6.9, sepalWidth=3.2, species='virginica'), Row(petalLength=4.9, petalWidth=2.0, sepalLength=5.6, sepalWidth=2.8, species='virginica'), Row(petalLength=6.7, petalWidth=2.0, sepalLength=7.7, sepalWidth=2.8, species='virginica'), Row(petalLength=4.9, petalWidth=1.8, sepalLength=6.3, sepalWidth=2.7, species='virginica'), Row(petalLength=5.7, petalWidth=2.1, sepalLength=6.7, sepalWidth=3.3, species='virginica'), Row(petalLength=6.0, petalWidth=1.8, sepalLength=7.2, sepalWidth=3.2, species='virginica'), Row(petalLength=4.8, petalWidth=1.8, sepalLength=6.2, sepalWidth=2.8, species='virginica'), Row(petalLength=4.9, petalWidth=1.8, sepalLength=6.1, sepalWidth=3.0, species='virginica'), Row(petalLength=5.6, petalWidth=2.1, sepalLength=6.4, sepalWidth=2.8, species='virginica'), Row(petalLength=5.8, petalWidth=1.6, sepalLength=7.2, sepalWidth=3.0, species='virginica'), Row(petalLength=6.1, petalWidth=1.9, sepalLength=7.4, sepalWidth=2.8, species='virginica'), Row(petalLength=6.4, petalWidth=2.0, sepalLength=7.9, sepalWidth=3.8, species='virginica'), Row(petalLength=5.6, petalWidth=2.2, sepalLength=6.4, sepalWidth=2.8, species='virginica'), Row(petalLength=5.1, petalWidth=1.5, sepalLength=6.3, sepalWidth=2.8, species='virginica'), Row(petalLength=5.6, petalWidth=1.4, sepalLength=6.1, sepalWidth=2.6, species='virginica'), Row(petalLength=6.1, petalWidth=2.3, sepalLength=7.7, sepalWidth=3.0, species='virginica'), Row(petalLength=5.6, petalWidth=2.4, sepalLength=6.3, sepalWidth=3.4, species='virginica'), Row(petalLength=5.5, petalWidth=1.8, sepalLength=6.4, sepalWidth=3.1, species='virginica'), Row(petalLength=4.8, petalWidth=1.8, sepalLength=6.0, sepalWidth=3.0, species='virginica'), Row(petalLength=5.4, petalWidth=2.1, sepalLength=6.9, sepalWidth=3.1, species='virginica'), Row(petalLength=5.6, petalWidth=2.4, sepalLength=6.7, sepalWidth=3.1, species='virginica'), Row(petalLength=5.1, petalWidth=2.3, sepalLength=6.9, sepalWidth=3.1, species='virginica'), Row(petalLength=5.1, petalWidth=1.9, sepalLength=5.8, sepalWidth=2.7, species='virginica'), Row(petalLength=5.9, petalWidth=2.3, sepalLength=6.8, sepalWidth=3.2, species='virginica'), Row(petalLength=5.7, petalWidth=2.5, sepalLength=6.7, sepalWidth=3.3, species='virginica'), Row(petalLength=5.2, petalWidth=2.3, sepalLength=6.7, sepalWidth=3.0, species='virginica'), Row(petalLength=5.0, petalWidth=1.9, sepalLength=6.3, sepalWidth=2.5, species='virginica'), Row(petalLength=5.2, petalWidth=2.0, sepalLength=6.5, sepalWidth=3.0, species='virginica'), Row(petalLength=5.4, petalWidth=2.3, sepalLength=6.2, sepalWidth=3.4, species='virginica'), Row(petalLength=5.1, petalWidth=1.8, sepalLength=5.9, sepalWidth=3.0, species='virginica')]

In [ ]:
from pyspark.sql import functions as fun
data.groupBy("species").agg(fun.avg("petalLength")).show()

+----------+------------------+
|   species|  avg(petalLength)|
+----------+------------------+
| virginica|             5.552|
|versicolor|              4.26|
|    setosa|1.4620000000000002|
+----------+------------------+

In [ ]:
#user defined function using udf
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
l=[("Tom",45),("Alice",30),("John",15)]
data=sqlContext.createDataFrame(l,["Name","Age"])
data.show()
maturity_udf=udf(lambda age:"Adult" if age > 18 else "Child",StringType())
new_df=data.withColumn("Maturity",maturity_udf(data.Age))
new_df.show()

+-----+---+
| Name|Age|
+-----+---+
|  Tom| 45|
|Alice| 30|
| John| 15|
+-----+---+

+-----+---+--------+
| Name|Age|Maturity|
+-----+---+--------+
|  Tom| 45|   Adult|
|Alice| 30|   Adult|
| John| 15|   Child|
+-----+---+--------+

In [ ]:
#Top K Queries

rating.orderBy("rating",ascending=False).limit(5).show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
| 35128|   5287|   5.0|1031583587|
| 70568|    260|   5.0|1142392251|
|     1|   8507|   5.0|1094786027|
| 70568|    527|   5.0|1142392243|
| 35128|   5294|   5.0|1031147460|
+------+-------+------+----------+

In [ ]:
data.show()

+-----+---+
| Name|Age|
+-----+---+
|  Tom| 45|
|Alice| 30|
| John| 15|
+-----+---+

In [ ]:
data=sqlContext.read.options(mode="DROPMALFORMED").json("/content/iris.json")
data.show()

+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.4|       0.2|        4.9|       3.0| setosa|
|        1.3|       0.2|        4.7|       3.2| setosa|
|        1.5|       0.2|        4.6|       3.1| setosa|
|        1.4|       0.2|        5.0|       3.6| setosa|
|        1.7|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        4.6|       3.4| setosa|
|        1.5|       0.2|        5.0|       3.4| setosa|
|        1.4|       0.2|        4.4|       2.9| setosa|
|        1.5|       0.1|        4.9|       3.1| setosa|
|        1.5|       0.2|        5.4|       3.7| setosa|
|        1.6|       0.2|        4.8|       3.4| setosa|
|        1.4|       0.1|        4.8|       3.0| setosa|
|        1.1|       0.1|        4.3|       3.0| setosa|
|        1.2|       0.2|        5.8|       4.0| setosa|
|        1.5|       0.4|        5.7|       4.4| setosa|
|        1.3|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        5.1|       3.5| setosa|
|        1.7|       0.3|        5.7|       3.8| setosa|
|        1.5|       0.3|        5.1|       3.8| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 20 rows

In [ ]:
#convert dataframe into sql table
#dataframe.createOrReplaceTempView("table_name")
data.createOrReplaceTempView("iris_table")

In [ ]:
#select command
result=spark.sql("select * from iris_table")
result.show()

+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.4|       0.2|        4.9|       3.0| setosa|
|        1.3|       0.2|        4.7|       3.2| setosa|
|        1.5|       0.2|        4.6|       3.1| setosa|
|        1.4|       0.2|        5.0|       3.6| setosa|
|        1.7|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        4.6|       3.4| setosa|
|        1.5|       0.2|        5.0|       3.4| setosa|
|        1.4|       0.2|        4.4|       2.9| setosa|
|        1.5|       0.1|        4.9|       3.1| setosa|
|        1.5|       0.2|        5.4|       3.7| setosa|
|        1.6|       0.2|        4.8|       3.4| setosa|
|        1.4|       0.1|        4.8|       3.0| setosa|
|        1.1|       0.1|        4.3|       3.0| setosa|
|        1.2|       0.2|        5.8|       4.0| setosa|
|        1.5|       0.4|        5.7|       4.4| setosa|
|        1.3|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        5.1|       3.5| setosa|
|        1.7|       0.3|        5.7|       3.8| setosa|
|        1.5|       0.3|        5.1|       3.8| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 20 rows

In [ ]:
#select command based on condition
#and / or to combine two conditions
result=spark.sql("select * from iris_table where sepalLength>6 and petalLength>6")
result.show()

+-----------+----------+-----------+----------+---------+
|petalLength|petalWidth|sepalLength|sepalWidth|  species|
+-----------+----------+-----------+----------+---------+
|        6.6|       2.1|        7.6|       3.0|virginica|
|        6.3|       1.8|        7.3|       2.9|virginica|
|        6.1|       2.5|        7.2|       3.6|virginica|
|        6.7|       2.2|        7.7|       3.8|virginica|
|        6.9|       2.3|        7.7|       2.6|virginica|
|        6.7|       2.0|        7.7|       2.8|virginica|
|        6.1|       1.9|        7.4|       2.8|virginica|
|        6.4|       2.0|        7.9|       3.8|virginica|
|        6.1|       2.3|        7.7|       3.0|virginica|
+-----------+----------+-----------+----------+---------+

In [ ]:
#groupby along with aggregate functions
#select column1,aggregate(col2) from table_name group by column1
result=spark.sql("select species,avg(sepalLength) from iris_table group by species")
result.show()

+----------+-----------------+
|   species| avg(sepalLength)|
+----------+-----------------+
| virginica|6.587999999999998|
|versicolor|            5.936|
|    setosa|5.005999999999999|
+----------+-----------------+

In [ ]:
#order by
#to sort the rows based on one or more column
result=spark.sql("select * from iris_table order by species desc")
result.show()

+-----------+----------+-----------+----------+---------+
|petalLength|petalWidth|sepalLength|sepalWidth|  species|
+-----------+----------+-----------+----------+---------+
|        6.0|       2.5|        6.3|       3.3|virginica|
|        5.7|       2.3|        6.9|       3.2|virginica|
|        5.1|       1.9|        5.8|       2.7|virginica|
|        5.9|       2.1|        7.1|       3.0|virginica|
|        5.6|       1.8|        6.3|       2.9|virginica|
|        5.8|       2.2|        6.5|       3.0|virginica|
|        6.6|       2.1|        7.6|       3.0|virginica|
|        4.5|       1.7|        4.9|       2.5|virginica|
|        6.3|       1.8|        7.3|       2.9|virginica|
|        5.8|       1.8|        6.7|       2.5|virginica|
|        6.1|       2.5|        7.2|       3.6|virginica|
|        5.1|       2.0|        6.5|       3.2|virginica|
|        5.3|       1.9|        6.4|       2.7|virginica|
|        5.5|       2.1|        6.8|       3.0|virginica|
|        5.0|       2.0|        5.7|       2.5|virginica|
|        5.1|       2.4|        5.8|       2.8|virginica|
|        5.3|       2.3|        6.4|       3.2|virginica|
|        5.5|       1.8|        6.5|       3.0|virginica|
|        6.7|       2.2|        7.7|       3.8|virginica|
|        6.9|       2.3|        7.7|       2.6|virginica|
+-----------+----------+-----------+----------+---------+
only showing top 20 rows

In [ ]:
#limit used to restrict the number of rows
result=spark.sql("select * from iris_table limit 5")
result.show()

+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.4|       0.2|        4.9|       3.0| setosa|
|        1.3|       0.2|        4.7|       3.2| setosa|
|        1.5|       0.2|        4.6|       3.1| setosa|
|        1.4|       0.2|        5.0|       3.6| setosa|
+-----------+----------+-----------+----------+-------+

In [ ]:
#use functions inside sql upper,lower,length
result=spark.sql("select upper(species) from iris_table")
result.show()

+--------------+
|upper(species)|
+--------------+
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
|        SETOSA|
+--------------+
only showing top 20 rows

In [ ]:
#inner join
movie.createOrReplaceTempView("movie_table")
rating.createOrReplaceTempView("rating_table")
result=spark.sql("select * from movie_table inner join rating_table on movie_table.movieId=rating_table.movieId")
result.show()

+-------+--------------------+--------------------+------+-------+------+----------+
|movieId|               title|              genres|userId|movieId|rating| timestamp|
+-------+--------------------+--------------------+------+-------+------+----------+
|      2|      Jumanji (1995)|Adventure|Childre...|     1|      2|   3.5|1112486027|
|     29|City of Lost Chil...|Adventure|Drama|F...|     1|     29|   3.5|1112484676|
|     32|Twelve Monkeys (a...|Mystery|Sci-Fi|Th...|     1|     32|   3.5|1112484819|
|     47|Seven (a.k.a. Se7...|    Mystery|Thriller|     1|     47|   3.5|1112484727|
|     50|Usual Suspects, T...|Crime|Mystery|Thr...|     1|     50|   3.5|1112484580|
|    112|Rumble in the Bro...|Action|Adventure|...|     1|    112|   3.5|1094785740|
|    151|      Rob Roy (1995)|Action|Drama|Roma...|     1|    151|   4.0|1094785734|
|    223|       Clerks (1994)|              Comedy|     1|    223|   4.0|1112485573|
|    253|Interview with th...|        Drama|Horror|     1|    253|   4.0|1112484940|
|    260|Star Wars: Episod...|Action|Adventure|...|     1|    260|   4.0|1112484826|
|    293|Léon: The Profess...|Action|Crime|Dram...|     1|    293|   4.0|1112484703|
|    296| Pulp Fiction (1994)|Comedy|Crime|Dram...|     1|    296|   4.0|1112484767|
|    318|Shawshank Redempt...|         Crime|Drama|     1|    318|   4.0|1112484798|
|    337|What's Eating Gil...|               Drama|     1|    337|   3.5|1094785709|
|    367|    Mask, The (1994)|Action|Comedy|Cri...|     1|    367|   3.5|1112485980|
|    541| Blade Runner (1982)|Action|Sci-Fi|Thr...|     1|    541|   4.0|1112484603|
|    589|Terminator 2: Jud...|       Action|Sci-Fi|     1|    589|   3.5|1112485557|
|    593|Silence of the La...|Crime|Horror|Thri...|     1|    593|   3.5|1112484661|
|    653|  Dragonheart (1996)|Action|Adventure|...|     1|    653|   3.0|1094785691|
|    919|Wizard of Oz, The...|Adventure|Childre...|     1|    919|   3.5|1094785621|
+-------+--------------------+--------------------+------+-------+------+----------+
only showing top 20 rows

In [ ]:
data.dropna().show()

+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.4|       0.2|        4.9|       3.0| setosa|
|        1.3|       0.2|        4.7|       3.2| setosa|
|        1.5|       0.2|        4.6|       3.1| setosa|
|        1.4|       0.2|        5.0|       3.6| setosa|
|        1.7|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        4.6|       3.4| setosa|
|        1.5|       0.2|        5.0|       3.4| setosa|
|        1.4|       0.2|        4.4|       2.9| setosa|
|        1.5|       0.1|        4.9|       3.1| setosa|
|        1.5|       0.2|        5.4|       3.7| setosa|
|        1.6|       0.2|        4.8|       3.4| setosa|
|        1.4|       0.1|        4.8|       3.0| setosa|
|        1.1|       0.1|        4.3|       3.0| setosa|
|        1.2|       0.2|        5.8|       4.0| setosa|
|        1.5|       0.4|        5.7|       4.4| setosa|
|        1.3|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        5.1|       3.5| setosa|
|        1.7|       0.3|        5.7|       3.8| setosa|
|        1.5|       0.3|        5.1|       3.8| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 20 rows